# Список файлов и папок для игнорирования

01.png
02.png
66.png
Battle.net-Setup.exe
Google Chrome.lnk
ImportExport/
JS в браузере/
MQ diplom/
NeuroStartUp/
OpenConnect-GUI VPN client.lnk
PFR_777000_0SZIE_20240722_14381bdf_4836_11ef_ae6a_2e8aa85458f1_17.pdf
Rostelecom-cc/
Site For Import/
Spotify.lnk
The Witcher 3 Wild Hunt.lnk
Visual Studio Code.lnk
WireGuard.lnk
ajs/ajs/
ccskrb.txt
css~.txt
defender-game/
desktop.ini
gc.png
git-2-homeworks-fork/
git-2-homeworks-pr/
homework/
mq-diploma-master.zip
mе/
photo_2024-06-02_19-15-49.jpg
photo_2024-07-25_12-08-38.jpg
photo_2024-09-18_19-16-35 (2).jpg
photo_2024-09-18_19-16-35.jpg
photo_2025-01-11_17-20-19.jpg
ps.21.1.2x64-lite-RSLOAD.NET-.zip
published (1).png
repl.png
vpn.png
webpack/
wg0-client-qasar.conf
zoomrooms-5.17.7.3724-x64.exe
Ангета 22.12.22.docx
Декларация 2023.lnk
Домашние задания.txt
Новая папка/
Новый текстовый документ.txt
Снимок экрана 2024-07-12 125711.png
Снимок экрана 2024-07-20 123212.png
Снимок экрана 2024-11-11 140711.png
апрплрд.png
вит.png
вычет/
дипл.txt
диплом жс/
жс в браузере итоговая/
зачет.png
книги/
лог.txt
пробный текст.txt
прпрпр.png
сертификаты/
скорость печати.png
скорость.png
техника слушания.png